/* Загальні стилі для боді*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}

/* Однакові стилі для заголовків */

h1 {
  text-align: center;
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em;
  letter-spacing: 1.12px;
}

h2 {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.4px;
}

/* Однакові стилі для тексту на всьому макккеті*/

p {
  line-height: 1.5em;
  letter-spacing: 0.32px;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.header-logo-span {
  color: #2e2f42;
}

ul {
  list-style: none;
}

/* Однаккові стилі для посиланнь в хедері */

header a {
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.header-menu-link {
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
}

.adress {
  font-style: normal;
}

.adress-menu-link {
  color: #434455;
}

#header a:hover,
#header a:focus {
  color: #404bbf;
}

.btn {
  color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.64px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.introduction,
.footer {
  background: #2e2f42;
}

.team {
  background: #f4f4fd;
}

.team-list-title {
  text-align: center;
}

.team-list-item {
  background-color: #fff;
}

.footer .logo-span {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
